.App {
  text-align: center;
  #quote-box {
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    color: black;
    #text{
      margin-bottom: 0px;
      #quote-icon{
        margin-right: 10px;
      }
    }
    #author {
      margin-top: 0;
      text-align: end;
    }
  .button{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    :hover{
      opacity: .8;
    }
    #tweet-quote{
      float: left;
      color: white;
      border-radius: 10px;
      padding: 10px;
      border: none;
      text-decoration: none;
      align-self: center;
      justify-content: center;
    }
    #new-quote{
      float: right;
      color: white;
      border-radius: 10px;
      padding: 10px;
      border: none;
      font-size: 16px;
      cursor: pointer;

    }
  }
  }
  .App-header {
    padding: 10%;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}




